<div fxLayout="column">
    <app-header></app-header>
    <div class="container">
        <div class="header_section">
            <div class="header_title">
                <h1>Frequently asked questions </h1>
                <p class="sub_text">
                    Got questions? You are in the right place. Here we try to
                    answer and explain most of the common questions our
                    customers have.
                </p>
            </div>
            <div class="header_img">
                <img src="../../assets/images/faq.png" alt="FAQ Of termhelper"
                    />
            </div>
        </div>
        <div class="body_section">
            <div class="row" fxLayout="row">
                <h1 class="title_text">Frequently asked questions</h1>
                <p>Here’s what you need to know about your Termhelper license,
                    based on the questions we are asked the most.
                </p>
            </div>
            <div class="question_expansion_panel">
                <div class="expansion-panel">
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <h3>How does billing work?</h3>
                        </mat-expansion-panel-header>

                        <ng-template matExpansionPanelContent>
                            Start using our premium features by getting a 7-day
                            trial for $2.95. The trial gets you access to all of
                            our premium features for 7 days. If during these 7
                            days you decide to cancel your monthly subscription,
                            you will not be billed for a monthly plan.
                        </ng-template>
                    </mat-expansion-panel>
                </div>

                <div class="expansion-panel">
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <h3>What happens if there are changes in the
                                policies?</h3>
                        </mat-expansion-panel-header>

                        <ng-template matExpansionPanelContent>
                            Your policies will always be updated without extra
                            charges.
                        </ng-template>
                    </mat-expansion-panel>
                </div>


                <div class="expansion-panel">
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <h3>Is there a free plan?</h3>
                        </mat-expansion-panel-header>

                        <ng-template matExpansionPanelContent>
                            Absolutely, the free plan includes a free preview of
                            your Policy! you will be able to check your privacy
                            policy on a preview that's located on the top right
                            corner of the generate page.
                        </ng-template>
                    </mat-expansion-panel>
                </div>


                <div class="expansion-panel">
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <h3>How long until I get my Policies?</h3>
                        </mat-expansion-panel-header>

                        <ng-template matExpansionPanelContent>
                            As soon as you pay for the product, our team will
                            immeadiately create your customized Policies. The
                            process takes less than a minute!
                        </ng-template>
                    </mat-expansion-panel>
                </div>


                <div class="expansion-panel">
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <h3>What currency am I billed in?</h3>
                        </mat-expansion-panel-header>

                        <ng-template matExpansionPanelContent>
                            You will be billed in $USD regardless of where your
                            business is located.
                        </ng-template>
                    </mat-expansion-panel>
                </div>

                <div class="expansion-panel">
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <h3>What are the requirements to get my Policies?</h3>
                        </mat-expansion-panel-header>

                        <ng-template matExpansionPanelContent>
                            You will need to tell us a couple of things like if
                            you have an app or a website or both, the name of
                            your business, the information that you collect from
                            users, and some other information that will allow us
                            to create a compliant and reliable Privacy Policy
                            for your app or website.
                        </ng-template>
                    </mat-expansion-panel>
                </div>

                <div class="expansion-panel">
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <h3>Can I change my plan?</h3>
                        </mat-expansion-panel-header>

                        <ng-template matExpansionPanelContent>
                            Yes, you can upgrade, downgrade, or cancel your plan
                            at anytime from the app. If you need help changing
                            your account, reach out to us using our email
                            (harshadladva123@gmail.com)
                        </ng-template>
                    </mat-expansion-panel>
                </div>

                <div class="expansion-panel">
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <h3>What are my payment options?</h3>
                        </mat-expansion-panel-header>

                        <ng-template matExpansionPanelContent>
                            You can either pay with credit card or any debit
                            card you want! All our payments are secured by
                            Stripe.
                        </ng-template>
                    </mat-expansion-panel>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
    <div class="button_up" (click)="goTotop()" id="myBtn">
        <i class="fas fa-angle-up"></i>
    </div>
</div>