<div fxLayout="row">
    <mat-toolbar class="home_toolbar" id="toolbar" fxLayout="row"
        color="primary">
        <div class="container">
            <div class="header_row" fxLayout="row">
                <div>
                    <a class="header_logo" routerLink="/">
                        <span>Grovetech</span>
                    </a>
                </div>
                <div class="example-spacer"></div>
                <div>
                    <a routerLink="/">
                        <span class="m-l-40 font-14 dropdown_item">
                            Generate
                        </span>
                    </a>
                    <div class="dropdown_menu_item">
                        <p>Hello World!</p>
                    </div>
                    <a routerLink="/faq">
                        <span class="m-l-40 font-14 dropdown_item">
                            FAQ
                        </span>
                    </a>
                    <a routerLink="/home">
                        <span class="m-l-40 font-14 dropdown_item">Why Us?</span>
                    </a>
                    <a routerLink="/pricing">
                        <span class="m-l-40 font-14 dropdown_item">Pricing</span>
                    </a>
                    <a routerLink="/home">
                        <span class="m-l-40 font-14 dropdown_item">Contact</span>
                    </a>
                    <a routerLink="/home">
                        <span class="m-l-40 font-14 dropdown_item">About Us</span>
                    </a>
                    <a routerLink="/home">
                        <button mat-button class="login m-l-40">Log In</button>
                    </a>
                </div>
            </div>
        </div>
    </mat-toolbar>
</div>