.header_row {
    display: flex;
    max-width: 90%;
    width: 100%;
}
.header_logo {
    color: #000000;
    text-decoration: none;
}
.dropdown_menu_item {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown_item:hover .dropdown_menu_item {
    display: block;
}
.dropdown_item {
    cursor: pointer;
    display: inline-block;
    color: var(--black);
    position: relative;
}
.dropdown_item:hover {
    color: var(--blue);
}
.login {
    padding: 0px 24px;
    cursor: pointer;
    margin-left: 12px;
    background-color: var(--blue);
    border-radius: 20px;
    color: var(--white);
    font-size: 12px;
}
