<div class="footer">
    <div class="container">
        <div class="row" fxLayout="row">
            <div class="col-md-3" fxLayout="column">
                <div class="first_div">
                    <h2>TermHelper</h2>
                    <p>We create customized Privacy Policies and Terms &
                        Conditions in a matter of seconds to keep your business
                        safe from any legal issue.</p>
                </div>
            </div>
            <div class="col-md-2" fxLayout="column">
                <h2> Our Policies </h2>
                <a href="/"><p>Privacy Policy</p></a>
                <a href="/"><p> Terms & Conditions </p></a>
                <a href="/"><p> Terms of service </p></a>
                <a href="/"><p> Terms of use </p></a>
                <a href="/"><p> Disclaimer </p></a>
                <a href="/"><p> Cookie Policy </p></a>
                <a href="/"><p> EULA </p></a>
                <a href="/"><p> Return & Refund Policy </p></a>
            </div>
            <div class="col-md-2" fxLayout="column">
                <h2> Compliant With </h2>
                <a href="/"><p>GDRP Regulation</p></a>
                <a href="/"><p> CCPA Regulation </p></a>
                <a href="/"><p> CalOPPA Regulation </p></a>
                <a href="/"><p> Cookie Consent </p></a>
                <a href="/"><p> Play Store </p></a>
                <a href="/"><p> App Store </p></a>
            </div>
            <div class="col-md-2" fxLayout="column">
                <h2> About Termhelper </h2>
                <a href="/"><p> About Us </p></a>
                <a href="/"><p> Affiliate Program </p></a>
                <a href="/"><p> Pricing </p></a>
                <a href="/"><p> FAQ </p></a>
                <a href="/"><p> Our Terms of Service </p></a>
                <a href="/"><p> Our Privacy Policy </p></a>
                <a href="/"><p> Our Disclaimer </p></a>
                <a href="/"><p> Our Refund Policy </p></a>
            </div>
            <div class="col-md-3" fxLayout="column">
                <h2> Need help? </h2>
                <p>We'd love to hear from you!</p>
                <a href="/"><p>Contact Us</p></a>
            </div>
        </div>
    </div>
</div>