.footer {
    margin-top: 20vh;
    height: 100%;
    background-color: var(--darkblue);
    // background-image: linear-gradient(to right bottom, rgba(76, 216, 255, 0.8), rgba(19, 86, 180, 0.8));  // url("https://images.pexels.com/photos/213399/pexels-photo-213399.jpeg");
    background-size: cover;
    background-position: top;
    position: relative;
    clip-path: polygon(0 0, 100% 12vh, 100% 100%, 0 100%);
    .row {
        max-width: 100%;
        margin-top: 12vh;
        display: inline-flex;
        flex-direction: row;
        color: var(--white);
        h2 {
            font-size: 20px;
        }
        .col-md-3 {
            max-width: 24%;
            margin: 0px 12px !important;
            p {
                line-height: 1.7;
            }
            a {
                color: var(--white);
                text-decoration: none;
            }
        }
        .col-md-2 {
            max-width: 24%;
            margin: 0px 12px !important;
            a {
                color: var(--white);
                text-decoration: none;
            }
            p {
                line-height: 1.3;
                cursor: pointer;
            }
        }
    }
}
