<div class="pricing">
    <app-header></app-header>
    <div class="container">
        <div class="header_section">
            <div class="header_title">
                <h1> Pricing plans Made Simple </h1>
                <p class="sub_text">
                    Looking for prices? You are in the right place. We have 3
                    different plans, '7-day trial subscription', '6 months' and
                    '12 months'. Find out which legal structure will best suit
                    your business.
                </p>
            </div>
            <div class="header_img">
                <img src="../../assets/images/pricing.png" alt="Pricing Of
                    termhelper" />
            </div>
        </div>
        <div class="body_section">

        </div>
    </div>

    <app-footer></app-footer>
    <div class="button_up" (click)="goTotop()" id="myBtn">
        <i class="fas fa-angle-up"></i>
    </div>
</div>
